<!-- <div id="sign_up_form">
	<  %= form_for User.new do |f| %>
	< %=f.label "first name" %>
	< %=f.text_field :fname %>
	< %=f.label "last name" %>
	< %=f.text_field :lname %>
	< %=f.label "email" %>
	< %=f.text_field :email %>
	< %=f.label :password %>
	< %=f.text_field :password %>
	< %=f.label "phone" %>
	< %=f.text_field :phone %>
	< %=f.submit %>
	< % end %>
</div> -->
