nav {
	ul {
	list-style: none;
	float: right;
   position: relative;
   top: -23px;
		li {
		display: inline;
		}
		a {
			color: #FFFFF2;
			text-decoration: none;
		}

		a:hover {
			color: #FFFFF2;
		}

		#sign_up {
			color: #791E94;
			font-weight: 500;
		}
	}
	// @media (max-width: 667px) and (min-width: 992px) {
	// 	body {
	// 		background-color: blue;
	// 	}
	// }
}















 