// body {
// 	background: #0099ff;
// }

#map_me {
	margin-left: 256px;
}

#results {
	padding: 5px;
	border: 5px solid #df6c53;
	margin: 18px;
	background: #FFFFF2;
}

// .photo {
// 	width: 100px;
// 	margin: 0 auto;
// }

#next {
	// height: 160px;
	width: 171px;
	background: #de6449;
	border-radius: 25px;
	padding: 5px 50px;
}