// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#log_in {
	padding: 5px;
	height: 10px;
	text-align: center;
}

#email {
	padding: 5px;
}

#password {
	padding: 5px;
}