// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 90%;
}

#top {
	text-align: center;
}

#yelp_search {
	margin: 5px;
	height: 10px;
	width: 160px;
}

#results {
	text-align: center;
}