<h1>Locations#index</h1>
<p>Find me in app/views/locations/index.html.erb</p>

<!-- < % = Pharmacy.near("90 John Street, New York, NY 10038") -->

<%= form_for Location.new do |f| %>
<%=f.label "address" %>
<%=f.text_field :address %>
<%=f.submit %>
<% end %>












<!-- <div class="field">
    < % = f.label :address % ><br>
    < % = f.text_field :address % >
  </div>
  <div class="field">
    < % = f.label :latitude % ><br>
    < % = f.text_field :latitude % >
  </div>
  <div class="field">
    < % = f.label :longitude % ><br>
    < % = f.text_field :longitude % >
  </div>
  <div class="actions">
    < % = f.submit % >
  </div> -->
